@model IEnumerable<WebAppBanHangOnlineNhomNBTPQ.tbSANPHAM>

@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
        <!-- Phần hiển thị sản phẩm -->
        <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
                <table class="table table-hover tm-table-small tm-product-table">
                    <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">PRODUCT NAME</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                        <tr>
                            <th scope="row"><input type="checkbox" name="selectedProducts" value="@product.MASANPHAM" /></th>
                            <td class="tm-product-name">@product.TENSANPHAM</td>
                            <td>@product.SOLUONG</td>
                            <td>@product.DONGIA</td>
                            <td>
                                <a href="@Url.Action("EditProduct", "Products", new { id = product.MASANPHAM })">Edit</a>
                            </td>
                            <td>
                                <a href="javascript:void(0);" class="tm-product-delete-link" onclick="confirmDelete(@product.MASANPHAM)">
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a href="@Url.Action("AddProduct", "Products")"
               class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
            <button class="btn btn-primary btn-block text-uppercase" onclick="deleteSelectedProducts()">
                Delete selected products
            </button>
        </div>
    </div>
    <!-- Phần hiển thị danh mục -->
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
            <h2 class="tm-block-title">Product Categories</h2>
            <div class="tm-product-table-container">
                <table class="table tm-table-small tm-product-table">
                    <tbody>
                        @foreach (var category in ViewBag.Categories as IEnumerable<WebAppBanHangOnlineNhomNBTPQ.tbDANHMUC>)
                        {
                            <tr>
                                <td class="tm-product-name">@category.TENDANHMUC</td> <!-- Thay đổi TENDANHMUC với tên thực tế của trường -->
                                <td class="text-center">
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary btn-block text-uppercase mb-3">Add new category</button>
            <button class="btn btn-primary btn-block text-uppercase mb-3">Delete Selected category</button>
        </div>
    </div>
</div>

<script>
    function confirmDelete(productId) {
        if (confirm("Are you sure you want to delete this product?"))
        {
            // Nếu người dùng chấp nhận xoá, chuyển tới action xoá sản phẩm
            window.location.href = "@Url.Action("DeleteProduct", "Products")/" + productId;
        }
    }

    function deleteSelectedProducts() {
        var selectedProductIds = [];
        var checkboxes = document.querySelectorAll('input[name="selectedProducts"]:checked');
        checkboxes.forEach(function (checkbox) {
            selectedProductIds.push(checkbox.value);
        });

        if (selectedProductIds.length > 0)
        {
            if (confirm("Are you sure you want to delete selected products?"))
            {
                // Nếu người dùng chấp nhận xoá, gửi danh sách sản phẩm cần xoá tới action
                window.location.href = "@Url.Action("DeleteSelectedProducts", "Products")?selectedIds=" + encodeURIComponent(selectedProductIds.join(","));
            }
        } else
        {
            alert("Please select at least one product to delete.");
        }
    }

</script>




