@model WebAppBanHangOnlineNhomNBTPQ.tbSANPHAM

@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Product</h2>
                    </div>
                </div>
                @using (Html.BeginForm("EditProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            @Html.HiddenFor(model => model.MASANPHAM) <!-- Trường ẩn ID sản phẩm -->
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.TENSANPHAM, "Product Name")
                                @Html.TextBoxFor(model => model.TENSANPHAM, new { @class = "form-control validate", id = "name" })
                                @Html.ValidationMessageFor(model => model.TENSANPHAM)
                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.MOTA, "Description")
                                @Html.TextAreaFor(model => model.MOTA, new { @class = "form-control validate", id = "description", rows = "3" })
                                @Html.ValidationMessageFor(model => model.MOTA)
                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.SIZE, "SIZE")
                                @Html.TextBoxFor(model => model.SIZE, new { @class = "form-control validate", id = "size" })
                                @Html.ValidationMessageFor(model => model.SIZE)
                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.MAU, "Color")
                                @Html.TextBoxFor(model => model.MAU, new { @class = "form-control validate", id = "color" })
                                @Html.ValidationMessageFor(model => model.MAU)
                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.DONGIA, "Price")
                                @Html.TextBoxFor(model => model.DONGIA, new { @class = "form-control validate", id = "price" })
                                @Html.ValidationMessageFor(model => model.DONGIA)
                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.MADANHMUC, "Category")
                                @Html.DropDownListFor(model => model.MADANHMUC, new SelectList(ViewBag.Categories as IEnumerable<WebAppBanHangOnlineNhomNBTPQ.tbDANHMUC>, "MADANHMUC", "TENDANHMUC"), "Select category", new { @class = "form-control", id = "category" })
                                @Html.ValidationMessageFor(model => model.MADANHMUC)
                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.SOLUONG, "Quantity in stock")
                                @Html.TextBoxFor(model => model.SOLUONG, new { @class = "form-control validate", id = "quantity" })
                                @Html.ValidationMessageFor(model => model.SOLUONG)
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            @if (ViewBag.Images != null)
                            {
                                int imageCount = 0;
                                foreach (var image in ViewBag.Images as IEnumerable<WebAppBanHangOnlineNhomNBTPQ.tbHINHANH>)
                                {
                                    if (imageCount < 3)
                                    {
                                        <div>
                                            <img src="@Url.Content("~/images/" + image.HINHANH)" alt="Product Image" style="max-width:100%; height:auto;" />
                                        </div>
                                        imageCount++;
                                    }
                                }
                            }
                        <div>
                            <h4>Upload New Images:</h4>
                            @for (int i = 0; i < 3; i++)
                            {
                                <div class="custom-file mt-3 mb-3">
                                    <input id="fileInput@(i)" name="fileInputs" type="file" class="custom-file-input" onchange="updateFileName()" />
                                    <label class="custom-file-label" for="fileInput@(i)">Choose file...</label>
                                </div>
                            }
                        </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Product Now</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function updateFileName() {
        var input = document.getElementById('fileInput');
        var label = document.querySelector('.custom-file-label');
        if (input.files.length > 0) {
            label.innerHTML = input.files[0].name;
        } else {
            label.innerHTML = 'Choose file...';
        }
    }
</script>


